<section>
  <div class="container">
    <div class="create-new-wrapper">
      <div class="head-txt">
        <h1>Create New Quote</h1>
      </div>
      <div class="form-wrapper">
        <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="clientName"
                  >Client Name<span class="asteric">*</span></label
                >
                <input
                  type="text"
                  id="clientName"
                  formControlName="clientName"
                />
                <div
                  *ngIf="
                    quoteForm.get('clientName')?.invalid &&
                    quoteForm.get('clientName')?.touched
                  "
                  class="error"
                >
                  Client Name is required.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="validUntil"
                  >Valid Until<span class="asteric">*</span></label
                >
                <input
                  type="date"
                  id="validUntil"
                  formControlName="validUntil"
                  [min]="minDate"
                />
                <div
                  *ngIf="
                    quoteForm.get('validUntil')?.invalid &&
                    quoteForm.get('validUntil')?.touched
                  "
                  class="error"
                >
                  Valid Until is required.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  formControlName="description"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="items-section">
            <div class="top-layer">
              <h3>Items</h3>
              <button type="button" class="add-btn" (click)="addItem()">
                + Add Item
              </button>
            </div>

            <div formArrayName="items">
              <div
                class="item"
                *ngFor="let item of items.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="itemDescription{{ i }}">Description</label>
                      <input
                        type="text"
                        id="itemDescription{{ i }}"
                        formControlName="description"
                      />
                      <div
                        *ngIf="
                          item.get('description')?.invalid &&
                          item.get('description')?.touched
                        "
                        class="error"
                      >
                        Description is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="quantity{{ i }}">Quantity</label>
                      <input
                        type="number"
                        id="quantity{{ i }}"
                        formControlName="quantity"
                      />
                      <div
                        *ngIf="
                          item.get('quantity')?.invalid &&
                          item.get('quantity')?.touched
                        "
                        class="error"
                      >
                        Quantity must be at least 1.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="unitPrice{{ i }}">Unit Price</label>
                      <input
                        type="number"
                        id="unitPrice{{ i }}"
                        formControlName="unitPrice"
                      />
                      <div
                        *ngIf="
                          item.get('unitPrice')?.invalid &&
                          item.get('unitPrice')?.touched
                        "
                        class="error"
                      >
                        Unit Price must be at least 0.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label for="amount{{ i }}">Amount</label>
                      <input
                        type="number"
                        id="amount{{ i }}"
                        formControlName="amount"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <button type="button" class="add-btn" (click)="removeItem(i)">
                  Remove
                </button>
              </div>
            </div>
          </div>

          <div class="bottom-layer">
            <div class="total-amount">
              <h3>Total Amount: ${{ calculateTotalAmount() }}</h3>
            </div>
            <button
              type="submit"
              class="blue-btn"
              [disabled]="quoteForm.invalid"
            >
              Create Quote
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
